<!DOCTYPE html>
<html class="h-100">
{% include head.html %}
  <body class="h-100">
    <div class="container h-100 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col text-center ja">
          Nein.
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <strong>Seit <span id="since">{since}</span> Tagen</strong> werden die NSU-Akten jetzt schon unter Verschluss gehalten. Darin stehen Informationen zu den Aktivitäten des Verfassungsschutzes in Verbindung mit den Morden des rechten Terror-Netzwerks. Und die hessische Regierung will uns noch <strong>weitere <span id="until">{until}</span> Tage</strong> darauf warten lassen. Damit sind wir nicht einverstanden!
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <a href="https://twitter.com/search?q=%23hermitdenakten" class="hashtag">#hermitdenakten</a>
        </div>
      </div>
    </div>
  </body>
   <script src="assets/days.js"></script>
</html>
